DB_SERVER=localhost\SQLEXPRESS
DB_NAME=RunningTrainingDB
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUSTED_CONNECTION=yes
DB_TRUST_SERVER_CERTIFICATE=yes

# Only required when DB_TRUSTED_CONNECTION=no
DB_USERNAME=your_username
DB_PASSWORD=your_password